node_modules
npm-debug.log
.git
.git/**
.env
keys/
keys/**
load-tests/
load-tests/**
frontend/
frontend/**
**/*.md
backend/src/compiler/codes/*
backend/src/compiler/input/*
backend/src/compiler/outputs/*
.dockerignore
Dockerfile
*.ps1
*.sh
